/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Preto */
    color: #fff; /* Branco */
}

/* Estilos para o cabeçalho */
header {
    background-color: #000; /* Preto */
    text-align: center;
    padding: 20px;
}

.header-title {
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    color: #ff7f00; /* Laranja */
}

/* Estilos para o menu de navegação */

